# Dependências
node_modules/

# Build
dist/
build/

# Configuração de ambiente
.env

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Outros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
